@import "./../../../styles/themes.css";

.AppButton {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;


  color: var(--background);

  &:hover {
    filter: brightness(60%);
  }

  &.disabled {
    filter: brightness(20%);
    cursor: not-allowed;
  }

  &.primary {
    background-color: var(--primary);
  }

  &.secondary {
    background-color: var(--secondary);
  }

  &.accent {
    background-color: var(--accent);
  }

  &.success {
    background-color: var(--success);
  }

  &.error {
    background-color: var(--error);
  }

  &.warning {
    background-color: var(--warning);
  }

  &.info {
    background-color: var(--info);
  }

  &.neutral {
    background-color: var(--neutral);
  }
}
